{
    "env": {
      "browser": true,
      "jest": true
    },
    "parserOptions": {
      "ecmaVersion": 2018
    },
    "extends": [
      "airbnb",
      "plugin:prettier/recommended",
      "plugin:react/recommended"
    ],
    "rules": {
      "import/prefer-default-export": 0,
      "no-param-reassign": [
        "error",
        {
          "props": false
        }
      ],
      "jsx-a11y/label-has-associated-control": [
        "error",
        {
          "required": {
            "some": [
              "nesting",
              "id"
            ]
          }
        }
      ],
      "jsx-a11y/label-has-for": [
        "error",
        {
          "required": {
            "some": [
              "nesting",
              "id"
            ]
          }
        }
      ],
      "react/jsx-one-expression-per-line": [
        0
      ],
      "prettier/prettier": [
        "error",
        {
          "singleQuote": true,
          "trailingComma": "es5"
        }
      ],
      "require-jsdoc": [
        "error",
        {
          "require": {
            "ArrowFunctionExpression": true,
            "FunctionDeclaration": true,
            "MethodDefinition": true,
            "ClassDeclaration": true
          }
        }
      ],
      "valid-jsdoc": [
        "error",
        {
          "requireReturn": true,
          "requireReturnType": true,
          "requireParamDescription": false,
          "requireReturnDescription": true
        }
      ]
    },
    "plugins": [
      "react"
    ]
  }
  