.Group {
  margin-top: 20px;
}

.Ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 2;
  max-height: 6;
}

.Content {
  margin-top: 40px;
}

.navbar {
  float: right;
}

.noincidents {
  font-size: 24px;
  text-align: center;
  padding: 24px;
}