.Navbar {
  display: flex;
  top: 0;
  padding: 20px 0;
  width: 100%;
  background-color: #ffffff;
}

.Navbar .Navbar_text {
  text-decoration: none;
  padding: 0 5px;
  color: #000;
}

.Navbar .Navbar_text:hover {
  color: #f28500;
}

.Navbar .Logo {
  flex: 1;
  padding-left: 5%;
  font-size: 20px;
  text-decoration: none;
}

.Navbar .Menu {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  padding-right: 5%;
}