.navbar {
  top: 0;
  padding: 20px 0;
  width: 100%;
  background: #ffffff;
}

.navbar .navbar_text {
  padding: 0 20px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar .navbar_text:hover {
  color: #f28500;
}

.button {
  float: right;
}

@media only screen and (max-width: 407px) {
  .button {
    float: right;
    width: 30%;
    font-size: 8px !important;
  }
}